<div class="nav">
    <div class="container">
        <!-- <div class="left">
           <img src="../../../assets/logo.png" alt="">
        </div> -->
        <div class="left">
            <span>Blogify</span>
        </div>
        <div class="right">
            @if(username){
                <span [routerLink]="'/createblog'">Create Blog</span>
                <span [routerLink]="'/about'" class="button">About Us</span>
                <span [routerLink]="'/contact'" class="button">Contact Us</span>
                <span (click)="logout()">Logout</span>
                <img class="profileicon" (click)="profileDetails(userId)"  [src]="userProfile" alt="user2">
           
               

                
            }@else {
                <span [routerLink]="'/login'" href="">Login</span>
                <span  [routerLink]="'/register'" href="">Sign Up</span>
            }
        
        </div>
    </div>
   
</div>
