<section class="about">
    <div class="image-container">
        
    </div>
    <div class="main">
        <div class="abouttext">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore 
                et dolore magna aliqua. Nisl pretium fusce id
                velit ut. Quis commodo odio aenean sed adipiscing 
                diam donec adipiscing. Morbi tristique 
                senectus et netus et malesuada fames ac turpis.
                Aliquam vestibulum morbi blandit cursus risus
                at ultrices mi. Nulla facilisi nullam vehicula ipsum
                a arcu cursus vitae. Neque egestas congue quisque
                egestas diam in arcu cursus. Nisi vitae suscipit 
                tellus mauris a diam. Tellus id interdum velit 
                laoreet id donec ultrices tincidunt arcu. Sit 
                amet dictum sit amet justo donec. Cras semper 
                auctor neque vitae tempus quam. Neque viverra 
                justo nec ultrices.Sit amet mauris commodo quis imperdiet massa
                tincidunt nunc. </p>
                <p>Have questions,suggestions,or just want to get in touch?Feel free to contact us using the information below: </p>
                <ul>
                    <li>Email: infoexample.com</li>
                    <li>Phone: +1 (123)  456-7890</li>
                    <li>Address: 12 Main street,City,Country</li>
                </ul>
                <button type="button" class="button">Let's Talk</button>
        </div>
    </div>
</section>
