<div class="home">
    <div class="blogcontainer">
    @for(blog of blogs;track blog.id){
        <div class="blog-box">
            <div class="blog">
                <img class="profileicon" [routerLink]="'/profile/'+blog.user.id"  [src]="'http://localhost:8080/api/v1/auth/getImage/'+blog.user.id" alt="user2">

                <div class="blogdetails">
                    <div class="blogInfo">
                    <span>{{blog.title}}</span>
                    <span class="date">{{blog.creationdate}}</span>
                </div>
                    <p class="content">{{blog.content}}</p>
                    <a (click)="goToBlogDetails(blog.id)" class="readmore">Read More...</a>
                </div>
                @if (blog.image) {
                    <img class="blogimage"[src]="'http://localhost:8080/api/v1/post/getImage/'+blog.id" alt="">

                }
            </div>
        </div>
    }
</div>

<div class="sidebar">
    
<div class="sidebuttons">
    @if(communityCreationSuccess){
        @if(errorMessage){
            {{errorMessage}}
        }
    }
    <a class="combutton" (click)="togglecreate()">Create Community</a>

 @if(showcreate){
    <div class="createbar">
        <form [formGroup]="communityForm" class="createcommunity" >
        <input type="text" placeholder="Name"required formControlName="communityname">
        <textarea type="text" placeholder="Description" required formControlName="description" ></textarea>
        <input type="file" name="image"  (change)="selectImage($event)">
        <button (click)="onCreate()" type="submit">Create</button>
    </form>
    </div>
 }
</div>
<div class="heading">
<h4>Communities Suggestions</h4>
@for(community of nocommunityList;track community.id){
<div class="box">
<a [routerLink]="'/community/'+community.communityid">
  <img [src]="'http://localhost:8080/api/v1/community/getCommunityImage/'+community.communityid">
</a>
<div class="desc" >{{community.communityname}}</div>
</div>
}
</div>
</div>
</div>