@if(community){
    <div class="box1">
        
        <div class="profilecontainer">
            @if (joinFlag==true) {
                <div class="settings">
                    <div class="dropdown">
                        <button class="dropbtn">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>
                        <div class="dropdown-content">
                        <span (click)="editCommunityProfile()">Edit Profile</span>
                     
                        <span>Delete Group</span>
                        </div>
                      </div>
            </div>
        }
            <div class="image">
        <img class="profilepic" [src]="communityImage " alt="">
        @if(joinFlag==true){
        <label  class="plus">+
            <input type="file" name="" id="" style="display: none;" (change)="uploadCommunityImage($event)">
        </label>
    }
    </div>
        <h2>{{community.communityname}}</h2>
        <p>Description:{{community.description}}</p>
        <div class="join">
            <ng-container >
              <button class="joinbutton" (click)="joincommunity(community.communityid)">
                @if (joinFlag) {
                    Joined
                }@else {
                    Join
                }
            </button>
      
            </ng-container>
          </div>
    </div>
    
    </div>
}
<div class="profile">
        <div class="posts">
    
            @for (item of blogDetails; track $index) {
                @if(item){
                    <app-blogdetails [blogDetails]="item"></app-blogdetails>
                }
              
            }
         
        </div>
        
        <div class="sidebar" [class.disabled]="!joinFlag">
    
            <div class="content">
                <h2>Publish your passions, your way</h2>
                <p>Create a unique and beautiful blog easily.</p>
            </div>
        <div class="sidebuttons">
            <a class="createbutton"(click)="createCommunityBlog()">Create</a>
        </div>
        </div>
</div>